@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

.container{
    background-color: var(--background-color);
    height: 100vh;
    color: var(--text-color);
    font-family: 'Manrope', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}
.card{
    background-color: var(--card-color);
    display: flex;
    flex-direction: column;
    max-width: 540px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 38px;
    gap: 40px;
    min-height: 250px;
}
.header .advice{
    color: var(--advice-dice-color);
}
.conselho{
    font-size: 28px;
}
.play{
    background-color: var(--advice-dice-color);
}